*{	
padding:0;
margin:0;
left:0;
top:0;
font-family:sans-serif;
}

body{
position:absolute;
text-align:center;
width:100%;
}



#head{
height:330px;
width:100%;
background-color:white;
}

#head-buffer{
height:100px;
width:100%;
background-color:#fff;
background-image: url(../bg.jpg);
}

#headline{
height:200px;
width:100%;
background-color:black;
}

#headline h1{
font-size:142px;
color:white;
letter-spacing:-20px;
}

#h1-wrapper{
float:left;
padding-top:68px;
margin-left:-10px;
width:950px;
height:132px;
}

#line-right{
background-color:white;
width:40px;
height:200px;
float:left;
}

#line-right #small{
width:4px;
height:200px;
background-color:black;
margin-left:30px;
}

#head h2{
font-size:34px;
font-weight:normal;
letter-spacing:-4px;
margin-top:-30px;
}

#content{
padding-top:100px;
}

#left{
background-color:#000;
width: 80px;
height: calc(100% - 100px);
position:absolute;
margin-top:100px;
}

#bottom{
height:50px;
}

.post-cat{
color:#fff;
font-size:60px;
font-weight:bold;
transform: rotate(-90deg);
position:fixed;
left:-55px;
top:550px;
}

.center{
width:1000px;
margin:auto;
text-align:left;
background-color:transparent;
height:100%;
}

.clear{
clear:both;
}


.post{

}

.post-heading{
font-size:44px;
font-weight:bold;
letter-spacing:-5px;
color:black;
}

.post-date{
font-size:20px;
letter-spacing:0px;
padding-left:15px;

}


.post-content{
width:760px;
padding-left:15px;
padding-top:5px;
font-size:12px;
font-weight:lighter;
font-family:monospace;
}
